

.loading {
  display: flex;
  align-items: flex-end;
  z-index: 10;
  position: relative;

  span { 
    width: 1rem; 
    background: blue;
    min-height: 50px;
    margin: 0 0.5ch;
  }

  
}
$sizes: (
  1: 50, 
  2: 65, 
  3: 80, 
  4: 95, 
  5: 80, 
  6: 65, 
  7: 50, 
  8: 65, 
  9: 80, 
  10: 95 
);

@each $i, $s in $sizes {
  .loading > span:nth-child(#{$i}) {
    height: #{$s}px;
  }
}