html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

body { margin: 0; }

#root { overflow: hidden; }

.app {
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  main { flex: 1; }
}

table {
  width: 100%;
  &,
  & tbody,
  & thead,
  & tr,
  & th,
  & td {
    border-collapse: collapse;
    border-spacing: 0;
   }
}

form {
  display: inline-block;
  margin: 1rem auto;
}