@import '../../../scss/config/config';

.header {
  background: $paper;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1ch;
  box-shadow: 1px 2px 4px rgba(#333, 0.125);

  .logo {
    margin: 0;
    padding: 0;
    color: $primary;
    font-size: calc(1.78rem + 3vmin);
    line-height: 1;
    font-family: 'Neuropol';
  }
}